* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  .footer-whole-wrapper{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    justify-content: space-around;
    margin-bottom: -20px;
  }
  .footer-wrapper{ 
    display: flex;
    align-items: center;
  }
  .img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
  }
  .content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }